<div class="container ">
    <h1>Iniciar sesion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-row">
            <label>Correo electronico</label>
            <input formControlName="correo" type="text" class="form-control" id="correo">
        </div>
       <div class="form-row">
        <label>Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="password">
       </div>
        <button class="btn btn-info"> Ingresar </button>
    </form>
</div>