<!--Contenido de Perfil-Programador, donde posee opciones de modificar Datos-->
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card fixed-top" style="width: 18rem;margin-top: 100px; margin-left: 50px;">
          <img src="assets/image/Perfil-Programador/coffe.jpg" class="card-img-top" alt="..."><i class="fas fa-camera"></i>
          <div class="card-body">
            <h5 class="card-title">Nombre Programador</h5>
            <p class="card-text">Descripción -Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="" class="btn btn-primary">Modificar Datos</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body cards">
              <h5 class="card-title letras-slaide">Nombre Empresa <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a>
              </h5>
              <p class="card-text letras-slaide-p">Slogan <i class="fas fa-pencil-alt "></i></p>
            </div>
          </div>
        </div>
        <div class="jumbotron bg-blue">
          <div class="containers">
            <div class="row">
              <div class="col-sm-4">
                <img src="assets/image/Perfil-Programador/Programacion34.jpg" style="height: 90%; width: 85%;"><br>
                <center><a> <i class="fas fa-camera"></i> </a></center>
              </div>
              <div class="col-sm-7">
                <h3>Formacion Académica</h3>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos
                  reiciendis dolores, amet, sunt, magnam cum delectus
                  illum odio laboriosam qui rem deserunt quas quidem aliquam beatae id veritatis non. 
                  <a><i class="fas fa-pencil-alt "></i></a></p>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
        <!--Articulo con un Card- de Datso profesionales del Programador-->
        <section>
          <div class="jumbotron bg-gray">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="texto" style="text-align: center;">Experiencia Laboral</h3>
                  <p class="lead texto" style="text-align: center;">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Necessitatibus dignissimos reiciendis dolores, amet, sunt, magnam cum delectus
                    illum odio laboriosam qui rem deserunt quas quidem aliquam beatae id veritatis non Lorem, ipsum
                    <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>    
        <section>
          <div class="jumbotron bg-blue">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h3 class="texto" style="text-align: center;">Formacion Profecional</h3>
                  <p class="lead texto" style="text-align: center;">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Necessitatibus dignissimos reiciendis dolores, amet, sunt, magnam cum delectus
                    illum odio laboriosam qui rem deserunt quas quidem aliquam beatae id veritatis non Lorem, ipsum
                    <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="galeria-port mb-5">
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Idiomas</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. <a><i class="fas fa-pencil-alt "></i></a> </p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem; ">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Aptitudes</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. <a><i class="fas fa-pencil-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h3 style="font-size: 30px;">Informacion Adicional</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. <a><i class="fas fa-pencil-alt "></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>